.main {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.question {
  @include headline3;
  color: var(--color-blue);
}
.introduction {
  width: 80vw;
  margin: 7rem auto;
  max-width: 144rem;
  @include media(">=tablet-landscape") {
    width: 70vw;
    margin: 20rem auto 6rem auto;
    padding-left: 12rem;
  }
}
.title__header {
  @include headline1;
  margin-top: 1.6rem;
  max-width: 28rem;
  @include media(">=tablet-landscape") {
    max-width: 55rem;
  }
}
.testimonial {
  width: 95vw;
  margin-top: 4rem;
  margin-bottom: 12rem;
  @include media(">=tablet-landscape") {
    margin-top: 20rem;
    margin-bottom: 24rem;
    width: 100%;
  }
}
.testimonial__text {
  @include headline2;
  margin-bottom: 3rem;
  @include media(">=tablet-landscape") {
    width: 80%;
  }
}
.testimonial__profile {
  display: flex;
  @include media(">=tablet-landscape") {
    margin-top: 6rem;
  }
}
.testimonial__photo {
  width: 8.2rem;
  border-radius: 1.2rem;
}
.testimonial__credentials {
  margin-left: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  h3 {
    color: var(--color-grey);
  }
}
.testimonial__name {
  @include headline2;
}
.testimonial__position {
  @include headline3;
}
