.contact {
  width: 80vw;
  margin: 6rem auto 12rem auto;
  @include media(">=tablet-landscape") {
    width: 70vw;
    padding-left: 12rem;
  }
  .contact__h1 {
    margin-bottom: 2.5rem;
  }
  .contact__p {
    margin: 4rem 0 6rem 0;
    @include media(">=tablet-landscape") {
      width: 24%;
    }
  }
  .contact__h6 {
    margin-bottom: 0.6rem;
  }
}
.contact__button {
  width: 291px;
  height: 47px;
  border-radius: 12px;
  position: relative;
  input {
    border: none;
    color: #bdbdbd;
    background-color: #f2f2f2;
    height: 100%;
    width: 100%;
    border-radius: inherit;
    padding-left: 1.6rem;
  }
  button {
    border: none;
    background-color: var(--color-blue);
    color: white;
    height: 85%;
    width: 25%;
    position: absolute;
    right: 0.4rem;
    top: 7.5%;
    border-radius: inherit;
  }
}
