.designs {
  margin: auto;
}
.designs__grid {
  width: 100%;
  position: relative;
  img {
    border-radius: 1.2rem;
  }
  @include media(">=tablet-landscape") {
    @include grid4_desktop;
  }
}
.designs__title {
  @include headline2;
  margin: 8rem 0 6rem 0;
  max-width: 40rem;
}
.designs__p {
  color: #828282;
  margin-top: 1rem;
}
.designs__description {
  color: var(--color-black);
  margin-top: 1rem;
}
.designs__see_more {
  color: var(--color-blue);
}
.designs__text {
  @include media(">=tablet-landscape") {
    position: absolute;
    right: 0;
    bottom: 10rem;
  }
}

.designs__1 {
  @include flex_column;
  margin-bottom: 4rem;
  @include media(">=tablet-landscape") {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    margin-top: 18rem;
  }
}
.designs__2 {
  @include flex_column;
  margin-bottom: 4rem;
  @include media(">=tablet-landscape") {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }
}
.designs__3 {
  @include flex_column;
  margin-bottom: 4rem;
  @include media(">=tablet-landscape") {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    margin-top: 12rem;
  }
}
.designs__4 {
  @include flex_column;
  margin-bottom: 4rem;
  @include media(">=tablet-landscape") {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    margin-top: -6rem;
  }
}
