:root {
  --color-white: #ffffff;
  --color-black: #333333;
  --color-blue: #2D9CDB;
  --color-darkblue: #100E1D;
  --color-red: #EB5757;
  --color-grey: #828282;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 10px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
li,
p {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  color: var(--color-black);
}

h1 {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 3.6rem;
}

@media (min-width: 64em) {
  h1 {
    font-size: 4.8rem;
    font-weight: 500;
    line-height: 1.5;
  }
}

h2 {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 3.6rem;
}

@media (min-width: 64em) {
  h2 {
    font-size: 3.6rem;
    font-weight: 500;
    line-height: 5.4rem;
  }
}

h3 {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.7rem;
}

@media (min-width: 64em) {
  h3 {
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 3.6rem;
  }
}

h4 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.5rem;
}

@media (min-width: 64em) {
  h4 {
    font-size: 2.1rem;
    font-weight: 500;
    line-height: 2.1rem;
  }
}

h5 {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.7rem;
}

h6 {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
}

@media (min-width: 64em) {
  h6 {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2.1rem;
  }
}

li {
  font-size: 2.4rem;
  font-weight: 500;
  text-decoration: none;
  text-align: right;
  margin: auto 0;
}

p {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.8rem;
}

@media (min-width: 64em) {
  p {
    font-size: 1.8rem;
    line-height: 2.7rem;
  }
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

.footer {
  background-color: var(--color-darkblue);
  width: 100%;
}

.footer h1 {
  font-family: "Heebo", sans-serif;
  font-weight: 800;
  font-size: 3.6rem;
  color: white;
}

.footer__container {
  width: 85vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
}

@media (min-width: 64em) {
  .footer__container {
    width: 85vw;
    max-width: 144rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2fr 1fr;
        grid-template-columns: 1fr 2fr 1fr;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}

.list {
  margin: 3rem 0;
  padding-left: 0;
  width: 100%;
}

.list li {
  color: white;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 3.6rem;
  text-align: left;
  margin: 0;
}

.socials {
  width: 100%;
  height: 8.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 6.5rem 0;
}

@media (min-width: 64em) {
  .socials {
    margin: 3rem 0;
  }
}

.socials__icons {
  width: 9.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.join {
  width: 35rem;
}

.join .join__text {
  margin-bottom: 0.6rem;
}

.join .join__text h6 {
  color: var(--color-grey);
}

@media (min-width: 64em) {
  .join .join__text h6 {
    color: white;
  }
}

@media (min-width: 64em) {
  .join {
    margin: 3rem 0;
  }
}

.join__contact {
  width: 100%;
  height: 4.7rem;
  border-radius: 1.2rem;
  position: relative;
}

.join__contact .join__input {
  border: none;
  color: #bdbdbd;
  background-color: #f2f2f2;
  height: 100%;
  width: 100%;
  border-radius: inherit;
  padding-left: 2rem;
}

.join__contact .join__button {
  border: none;
  background-color: var(--color-blue);
  color: white;
  height: 80%;
  width: 25%;
  position: absolute;
  right: 0.4rem;
  top: 10%;
  border-radius: inherit;
}

.signature {
  margin: 18rem auto 0 auto;
  padding-bottom: 2.4rem;
}

.signature h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
  color: white;
  text-align: center;
}

@media (min-width: 64em) {
  .signature {
    margin-top: 15.4rem;
    padding-bottom: 2rem;
  }
}

.header {
  margin: 2rem auto 0 auto;
  width: 90vw;
  max-width: 160rem;
}

.header .header__logo {
  font-family: "Heebo", sans-serif;
  font-weight: 800;
  font-size: 3.6rem;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__desktop {
  display: none;
}

.header__desktop ul {
  width: 1000px;
}

.header__desktop ul li {
  text-align: right;
}

@media (min-width: 64em) {
  .header__desktop {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 60vw;
    max-width: 100rem;
  }
}

.header__mobile {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  overflow: hidden;
  position: absolute;
  width: 100vw;
  height: 80vw;
  top: 50px;
  left: 0;
  padding: 0;
  margin: 0;
}

.header__mobile li {
  text-align: center;
}

.burger {
  width: 1.8rem;
}

@media (min-width: 64em) {
  .burger {
    display: none;
  }
}

.main {
  max-width: 1200px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main h3 {
  color: var(--color-blue);
}

.title {
  width: 80vw;
  margin: 4rem auto;
  max-width: 144rem;
}

.title h3 {
  margin-top: 3rem;
}

@media (min-width: 64em) {
  .title {
    width: 70vw;
    margin: 10rem auto 4rem auto;
    padding-left: 12rem;
  }
  .title .title__h1 {
    margin-top: 1.6rem;
  }
}

.banner {
  width: 90%;
}

@media (min-width: 64em) {
  .banner {
    width: 120%;
  }
}

.banner__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  border-radius: 18px;
  height: auto;
}

.contact {
  width: 80vw;
  margin: 6rem auto 12rem auto;
}

@media (min-width: 64em) {
  .contact {
    width: 70vw;
    padding-left: 12rem;
  }
}

.contact .contact__h1 {
  margin-bottom: 2.5rem;
}

.contact .contact__p {
  margin: 4rem 0 6rem 0;
}

@media (min-width: 64em) {
  .contact .contact__p {
    width: 24%;
  }
}

.contact .contact__h6 {
  margin-bottom: 0.6rem;
}

.contact__button {
  width: 291px;
  height: 47px;
  border-radius: 12px;
  position: relative;
}

.contact__button input {
  border: none;
  color: #bdbdbd;
  background-color: #f2f2f2;
  height: 100%;
  width: 100%;
  border-radius: inherit;
  padding-left: 1.6rem;
}

.contact__button button {
  border: none;
  background-color: var(--color-blue);
  color: white;
  height: 85%;
  width: 25%;
  position: absolute;
  right: 0.4rem;
  top: 7.5%;
  border-radius: inherit;
}

.header_middle {
  margin: 0 auto 2rem auto;
  width: 80vw;
}

@media (min-width: 64em) {
  .header_middle {
    margin: 0 auto 4rem auto;
  }
}

.header_middle_2 {
  margin: 8rem auto 6rem auto;
  width: 80vw;
}

.cards {
  margin: 4rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
}

@media (min-width: 64em) {
  .cards {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
}

.card {
  height: 42.2rem;
  padding: 0 3rem;
  width: 100%;
  border-radius: 2.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.card .card__img {
  width: 67px;
  height: 67px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 16px;
}

.card:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 1rem 3rem rgba(51, 51, 51, 0.1);
          box-shadow: 0 1rem 3rem rgba(51, 51, 51, 0.1);
}

.card:hover button {
  color: white;
  background-color: var(--color-blue);
}

.card .card__img1 {
  background-color: var(--color-blue);
}

.card .card__img2 {
  background-color: #27ae60;
}

.card .card__img3 {
  background-color: #eb5757;
}

.card img {
  width: 40px;
}

.card h2 {
  font-weight: 700;
}

.card p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  color: #4f4f4f;
}

.card button {
  cursor: pointer;
  width: 11.6rem;
  height: 4.2rem;
  border: none;
  border-radius: 1.2rem;
  background-color: #e0e0e0;
  color: #828282;
}

.designs__grid {
  margin: auto;
  width: 95vw;
  position: relative;
}

.designs__grid img {
  border-radius: 1.2rem;
}

.designs__grid p {
  color: #828282;
  margin-top: 1rem;
}

.designs__grid h5 {
  color: var(--color-black);
  margin-top: 1rem;
}

@media (min-width: 64em) {
  .designs__grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 3rem;
    width: 100%;
  }
}

.designs__grid h6 {
  color: var(--color-blue);
}

@media (min-width: 64em) {
  .designs__grid .designs__text {
    position: absolute;
    right: 0;
    bottom: 10rem;
  }
}

.designs__1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 4rem;
}

@media (min-width: 64em) {
  .designs__1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    margin-top: 18rem;
  }
}

.designs__2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 4rem;
}

@media (min-width: 64em) {
  .designs__2 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
  }
}

.designs__3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 4rem;
}

@media (min-width: 64em) {
  .designs__3 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    margin-top: 12rem;
  }
}

.designs__4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 4rem;
}

@media (min-width: 64em) {
  .designs__4 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    margin-top: -6rem;
  }
}

.team {
  width: 95vw;
  margin: 8rem auto 6rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 64em) {
  .team {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
}

.team__texts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.team__texts h5 {
  color: #eb5757;
}

.team__texts .team__texts__h2 {
  margin-top: 1rem;
}

.team__texts .team__texts__p {
  margin: 1rem 0 4rem 0;
}

.team__photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
}

.team__photos img {
  border-radius: 2.4rem;
}

@media (min-width: 64em) {
  .team__photos {
    margin: 0;
  }
}

.team__photos__left {
  margin-right: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team__photos__right {
  margin-left: 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team__photos__right .team__photoguytop {
  margin-bottom: 0.5rem;
  width: 88%;
}

@media (min-width: 64em) {
  .team__photos__right .team__photoguytop {
    margin-bottom: 2rem;
  }
}

.team__photogirl {
  width: 110%;
}

.team__photobottom {
  width: 98%;
}

.testimonial {
  width: 95vw;
  margin-top: 4rem;
  margin-bottom: 12rem;
}

@media (min-width: 64em) {
  .testimonial {
    margin-top: 20rem;
    margin-bottom: 24rem;
    width: 100%;
  }
}

.testimonial__text {
  margin-bottom: 3rem;
}

@media (min-width: 64em) {
  .testimonial__text {
    width: 80%;
  }
}

.testimonial__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 64em) {
  .testimonial__profile {
    margin-top: 6rem;
  }
}

.testimonial__photo {
  width: 8.2rem;
  border-radius: 1.2rem;
}

.testimonial__profile__credentials {
  margin-left: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.testimonial__profile__credentials h3 {
  color: var(--color-grey);
}
/*# sourceMappingURL=style.css.map */